ECOMMERCE_HDFS_BASE=hdfs://localhost:9000
ECOMMERCE_INPUT_CSV=/ecommerce/raw/EcommerceSalesDataset.csv
ECOMMERCE_HIVE_DATABASE=gold
ECOMMERCE_MONGO_URI=mongodb://localhost:27017/
ECOMMERCE_MONGO_DATABASE=GlobalEcommerceDB
ECOMMERCE_THRIFT_PORT=10001
ECOMMERCE_RUN_DELTA_DEMO=false
ECOMMERCE_WAIT_BEFORE_EXIT=false
